@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Light.woff');
    font-weight: 300;
}